/* vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab: */

@import 'bourbon/bourbon';
@import 'neat/neat';
@import '_colors.scss';

.draggable {
  position: absolute;
  top: 110px;
  left: 18px;
  background-color: tint($yellow, 99%);
  border-radius: 180px;
  height: 179px;
  width: 180px;
  &.icon {
    font-size: 12rem;
  }

  .fa {
    position: relative;
    top: -33px;
  }
}
